:root {
  --white: rgb(250, 250, 250);
  --gray: #595959;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

/* Nav */
nav {
  height: 5rem;
  display: flex;
  align-items: center;
  background: rgb(125, 125, 255);
  background: linear-gradient(
    90deg,
    rgba(125, 125, 255, 1) 37%,
    rgba(143, 235, 254, 1) 100%
  );
  top: -5rem;
  transition: top 0.7s ease-out 0.1s;
}

nav.scroll-down {
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  background: black;
}

.container {
  width: 80%;
  margin: auto;
}

.nav-head a {
  text-decoration: none;
  color: var(--white);
  font-weight: 800;
  font-size: 25px;
}

.nav-links {
  width: 50%;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  font-weight: 800;
  word-spacing: 0.25em;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Burger */
.burger {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.line {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 30px;
}

/* Nav continued */
@media only screen and (max-width: 1100px) {
  .nav-links {
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  nav {
    background: black;
  }

  nav.scroll-down {
    z-index: 1;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
  }

  .nav-links {
    display: none;
    z-index: 1;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: black;
    transition: height 0.3s;
  }

  .nav-links ul li {
    width: 100%;
    text-align: center;
  }

  .nav-links.active {
    display: block;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin: 15px;
  }

  .burger {
    display: flex;
  }
}

/*  Main  */
main {
  height: 45rem;
  /* margin-bottom: 125px; */
  position: relative;
}

.bg {
  height: 45rem;
  background: rgb(125, 125, 255);
  background: linear-gradient(
    90deg,
    rgba(125, 125, 255, 1) 37%,
    rgba(143, 235, 254, 1) 100%
  );
}

.fab {
  font-size: 3.3rem;
}

#main-container {
  display: flex;
  position: relative;
  padding: 35px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 20px 125px 0 rgb(153, 153, 153);
  margin: auto;
  top: -40rem;
}

.portrait img {
  border-radius: 0 20px 20px 20px;
  height: 700px;
  width: 600px;
}

.about-me-container {
  margin-left: 75px;
}

.about-me h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  word-spacing: 2px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.about-me h1 {
  font-weight: black 900;
  text-transform: uppercase;
  font-size: 48px;
}

.about-me h4 {
  font-size: 16px;
  margin: 20px 0 20px 0;
}

.about-me p {
  line-height: 1.75;
  font-size: 16px;
  color: var(--gray);
}

.contact-info {
  margin-top: 50px;
  color: var(--gray);
}

.contact-info p {
  margin-bottom: 20px;
  font-size: 16px;
}

.contact-info span {
  margin-right: 25px;
}

.social-media {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.social-media a {
  margin-right: 20px;
  font-size: 25px;
}

@media only screen and (max-width: 1250px) {
  main {
    height: 60rem;
  }

  .bg {
    height: 65rem;
  }

  #main-container {
    flex-direction: column;
    top: -60rem;
    max-width: 960px;
  }

  .about-me-container {
    margin: 0;
    max-width: 500px;
    margin-top: 15px;
  }

  .portrait {
    width: 500px;
  }

  .portrait img {
    height: 500px;
    width: 100%;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 750px) {
  .portrait {
    width: 450px;
  }

  .portrait img {
    height: 450px;
    width: 100%;
  }

  .about-me-container {
    max-width: 450px;
  }
}

@media only screen and (max-width: 650px) {
  .portrait {
    width: 400px;
  }

  .portrait img {
    height: 400px;
    width: 100%;
  }

  .about-me-container {
    max-width: 400px;
  }
}

@media only screen and (max-width: 560px) {
  main {
    height: auto;
    box-shadow: 0 10px 50px 0 rgba(128, 128, 128, 0.447);
    background: white;
  }

  .container {
    width: 85%;
  }

  .bg {
    display: none;
  }

  .portrait img {
    width: 100%;
    margin-top: 50px;
  }

  #main-container {
    box-shadow: none;
    position: static;
    padding: 0;
  }

  .about-me-container {
    max-width: 400px;
  }

  /* .about-me-container > div {
    width: 100%;
  } */

  .social-media {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 490px) {
  .portrait {
    max-width: 350px;
  }

  .portrait img {
    max-width: 350px;
    width: 100%;
    height: 350px;
  }

  .about-me-container {
    max-width: 350px;
  }
}

@media only screen and (max-width: 420px) {
  .portrait {
    max-width: 300px;
  }

  .portrait img {
    max-width: 300px;
    width: 100%;
    height: 300px;
  }

  .about-me-container {
    max-width: 300px;
  }
}

@media only screen and (max-width: 420px) {
  .portrait {
    max-width: 250px;
  }

  .portrait img {
    max-width: 250px;
    width: 100%;
    height: 250px;
  }

  .about-me-container {
    max-width: 250px;
  }
}

/*  About myself */
.about-myself {
  height: 55rem;
  display: flex;
  align-items: center;
  background-color: #f9f9ff;
}

#about-myself-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

#about {
  width: 75%;
}

#about h1 {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#about p {
  font-size: 25px;
  color: var(--gray);
  line-height: 1.5;
  width: 100%;
}

#about-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box {
  border: 1px solid rgb(201, 201, 201);
  margin: 15px 0 15px 0;
  padding: 25px;
  border-radius: 5px;
}

.box h2 {
  margin: 5px 0 5px 0;
  font-size: 25px;
  font-weight: black 900;
}

.box p {
  color: var(--gray);
  font-size: 18px;
}

.box .far {
  font-size: 3rem;
  color: rgba(59, 164, 255, 0.652);
}

.box .fas {
  font-size: 3rem;
  color: rgba(59, 163, 255, 0.652);
}

#myself {
  background: rgb(125, 125, 255);
  background: linear-gradient(
    90deg,
    rgba(125, 125, 255, 1) 37%,
    rgba(143, 235, 254, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media only screen and (max-width: 1250px) {
  .about-myself {
    height: 60rem;
  }

  #about-myself-container {
    margin-top: 300px;
  }
}

@media only screen and (max-width: 1000px) {
  #about-myself-container {
    flex-direction: column;
    align-items: flex-start;
  }

  #about-boxes {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
  }

  .box {
    width: 30%;
  }
}

@media only screen and (max-width: 800px) {
  #about h1 {
    font-size: 45px;
  }

  #about p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .about-myself {
    height: 80rem;
  }

  #about {
    width: 100%;
  }

  #about-boxes {
    display: flex;
    flex-direction: column;
  }

  .box {
    width: 100%;
    margin: 25px 0 25px 0;
  }
}

@media only screen and (max-width: 560px) {
  .about-myself {
    align-items: flex-start;
    justify-content: center;
    height: 65rem;
  }

  #about-myself-container {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 390px) {
  #about h1 {
    font-size: 36px;
  }
}

/*  */

/* Time line */
.timeline {
  height: 55rem;
  background: rgb(125, 125, 255);
  background: linear-gradient(
    90deg,
    rgba(125, 125, 255, 1) 37%,
    rgba(143, 235, 254, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-head {
  text-align: center;
  margin-bottom: 50px;
}

.timeline-head h1 {
  font-size: 40px;
}

.timeline-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: relative;
}

.timeline-list::before {
  content: "";
  height: 100%;
  width: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 48%;
}

.experience {
  margin: 15px 0;
  position: relative;
}

.experience li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience span {
  display: block;
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  left: 46.9%;
  top: 50px;
}

.experience span::before {
  content: "";
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
}

.timeline-title {
  width: 50%;
}

.timeline-title h2 {
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}

.timeline-body {
  width: 50%;
  padding: 20px;
  margin-left: 50px;
}

.timeline-body h1 {
  margin-bottom: 25px;
  font-size: 21px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
}

.timeline-body p {
  color: rgba(255, 255, 255, 0.75);
}

@media only screen and (max-width: 650px) {
  .timeline {
    height: auto;
  }

  #timeline-container {
    margin-top: 100px;
    padding-bottom: 75px;
  }
}

@media only screen and (max-width: 425px) {
  .experience span {
    display: none;
  }

  .experience span::before {
    display: none;
  }

  .timeline-list::before {
    display: none;
  }

  .experience li {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .experience li h2 {
    text-align: left;
  }

  .timeline-body {
    margin-left: 0;
    padding: 0;
    margin-top: 20px;
  }
}

/* Interests */
.interests {
  height: 55rem;
  background-color: #f9f9ff;
  margin-top: 0;
}

#interests-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-head {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 25px;
}

#about-head h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#about-head p {
  color: var(--gray);
  font-size: 18px;
}

#interests-boxes {
  display: flex;
  margin-top: 60px;
  justify-content: space-around;
  width: 100%;
}

.ibox {
  margin: 0 10px 0 10px;
  padding: 50px;
  background-color: white;
  border-radius: 5px;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  max-width: 330px;
}

.ibox h1 {
  margin: 25px 0 25px 0;
}

.ibox p {
  font-size: 16px;
  color: var(--gray);
}

.ibox .fas {
  font-size: 3.5rem;
  color: rgb(211, 211, 211);
}

.ibox .far {
  font-size: 3.5rem;
  color: rgb(211, 211, 211);
}

.ibox:hover {
  box-shadow: 0 10px 100px 0 rgba(153, 153, 153, 0.235);
}

.ibox:hover .fas {
  background: rgb(125, 125, 255);
  background: linear-gradient(
    90deg,
    rgba(125, 125, 255, 1) 37%,
    rgba(143, 235, 254, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.ibox:hover .far {
  background: rgb(125, 125, 255);
  background: linear-gradient(
    90deg,
    rgba(125, 125, 255, 1) 37%,
    rgba(143, 235, 254, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media only screen and (max-width: 1050px) {
  .interests {
    height: 75rem;
  }

  #interests-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
  }

  .ibox {
    max-width: 100%;
    justify-self: center;
    /* height: 350px; */
    margin: 0;
  }
}

@media only screen and (max-width: 900px) {
  .interests {
    height: 80rem;
  }
}

@media only screen and (max-width: 770px) {
  .interests {
    height: 85rem;
  }
}

@media only screen and (max-width: 650px) {
  .interests {
    height: 90rem;
  }

  #interests-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
  }

  .ibox {
    min-width: 100%;
    margin-bottom: 30px;
  }
}

/* My awards */
.awards {
  background-color: white;
  height: 55rem;
}

#awards-head {
  margin-top: 150px;
  text-align: center;
  padding: 25px;
  margin-bottom: 50px;
}

#awards-head h1 {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 40px;
}

#awards-head p {
  color: var(--gray);
  font-size: 18px;
}

#awards-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 50px;
}

.abox {
  text-align: center;
}

.abox img {
  height: 350px;
  width: 350px;
  border-radius: 5px;
}

.abox h2 {
  margin: 10px 0 10px 0;
}

.abox p {
  color: var(--gray);
  text-transform: capitalize;
}
@media only screen and (max-width: 1200px) {
  .abox img {
    height: 210px;
    width: 210px;
  }
}

@media only screen and (max-width: 800px) {
  #awards-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 750px) {
  .awards {
    height: 60rem;
  }
}

@media only screen and (max-width: 525px) {
  .awards {
    height: 93rem;
  }

  #awards-head {
    margin-top: 75px;
  }

  #awards-boxes {
    display: flex;
    flex-direction: column;
  }

  .abox {
    margin-bottom: 35px;
  }

  .abox img {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 370px) {
  .abox img {
    width: 250px;
    height: 250px;
  }
}

/* footer */
footer {
  background-color: black;
  height: 13rem;
  display: flex;
  align-content: center;
}

footer h1 {
  font-size: 25px;
}

#footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer-about-me {
  color: var(--white);
  width: 60%;
}

#footer-about-me h1 {
  margin-bottom: 20px;
}

#footer-about-me p {
  color: var(--gray);
}

.follow-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.follow-me p {
  color: var(--gray);
  margin: 20px 0 20px 0;
}

.media {
  display: flex;
}

.media a {
  margin-right: 20px;
}

.media a i {
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
  transition-property: all;
  color: var(--white);
}

.media a i:hover {
  background: rgb(125, 125, 255);
  background: linear-gradient(
    90deg,
    rgba(125, 125, 255, 1) 37%,
    rgba(143, 235, 254, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*  Responsive footer */
@media only screen and (max-width: 460px) {
  footer {
    height: auto;
    padding: 30px;
  }

  #footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  #footer-about-me {
    margin-bottom: 30px;
    width: 100%;
  }

  #footer-about-me p {
    width: 100%;
  }
}

/*  Height adjustment */
@media only screen and (max-width: 500px) {
  .about-myself,
  .awards,
  .interests {
    height: auto;
  }
}
