:root {
    --white: rgb(250, 250, 250);
    --gray: #595959;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

/* Nav */
nav {
    height: 15vh;
    display: flex;
    align-items: center;
    background: rgb(125,125,255);
    background: linear-gradient(90deg, rgba(125,125,255,1) 37%, rgba(143,235,254,1) 100%);
}

.container {
    width: 85%;
    margin: auto;
}

.nav-head a{
    text-decoration: none;
    color: var(--white);
    font-weight: 800;
    font-size: 25px;
}

.nav-links {
    width: 50%;
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    font-weight: 800;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  */





/*  Main  */
main {
    height: 110vh;
    margin-bottom: 125px;
    position: relative;
}

.bg {
    height: 90vh;
    background: rgb(125,125,255);
    background: linear-gradient(90deg, rgba(125,125,255,1) 37%, rgba(143,235,254,1) 100%);
}

.fab {
    font-size: 3.3rem;
}

#main-container {
    display: flex;
    position: relative;
    padding: 35px;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 20px 125px 0 rgb(153, 153, 153);
    top: -75vh;
}

.portrait img {
    border-radius: 0 20px 20px 20px;
    height: 800px;
    width: 700px;
}

.about-me-container {
    margin-left: 125px;
}

.about-me h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    word-spacing: 2px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.about-me h1 {
    font-weight: black 900;
    text-transform: uppercase;
    font-size: 50px;
}

.about-me h4 {
    font-size: 20px;
    margin: 20px 0 20px 0;
}

.about-me p {
    line-height: 1.75;
    font-size: 20px;
    color: var(--gray);
}

.contact-info {
    margin-top: 50px;
    color: var(--gray);
    font-size: 20px;
}

.contact-info p {
    margin-bottom: 20px;
}

.contact-info span {
    margin-right: 25px;
}

.social-media {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.social-media a {
    margin-right: 20px;
    font-size: 25px;
}

/*  About myself */
.about-myself {
    height: 80vh;
    display: flex;
    align-items: center;
    background-color: #f9f9ff;
}

#about-myself-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about {
    width: 75%;
}

#about h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#about p {
    font-size: 25px;
    color: var(--gray);
    line-height: 1.5;
}

#about-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box {
    border: 1px solid rgb(201, 201, 201);
    margin: 15px 0 15px 0;
    padding: 25px;
    border-radius: 5px;
}

.box h2 {
    margin: 5px 0 5px 0;
    font-size: 25px;
    font-weight: black 900;
}

.box p {
    color: var(--gray);
    font-size: 18px;
}

.box .far {
    font-size: 3rem;
    color: rgba(59, 164, 255, 0.652);
}

.box .fas {
    font-size: 3rem;
    color: rgba(59, 163, 255, 0.652);
}

#myself {
    background: rgb(125,125,255);
    background: linear-gradient(90deg, rgba(125,125,255,1) 37%, rgba(143,235,254,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/*  */


/* Time line */
.timeline {
    height: 110vh;
    background: rgb(125,125,255);
    background: linear-gradient(90deg, rgba(125,125,255,1) 37%, rgba(143,235,254,1) 100%);
}



/* Interests */
.interests {
    height: 110vh;
    background-color: #f9f9ff;
    margin-top: 0;
}

#interests-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#about-head {
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 25px;
}

#about-head h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#about-head p {
    color: var(--gray);
    font-size: 18px;
}

#interests-boxes {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}

.ibox {
    margin: 0 10px 0 10px;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
    transition-property: box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.ibox h1 {
    margin: 25px 0 25px 0;
}

.ibox p {
    font-size: 16px;
    color: var(--gray);
}

.ibox .fas{
    font-size: 3.5rem;
    color: rgb(211, 211, 211);
}

.ibox .far {
    font-size: 3.5rem;
    color: rgb(211, 211, 211);
}

.ibox:hover {
    box-shadow: 0 10px 100px 0 rgba(153, 153, 153, 0.235);
}

.ibox:hover .fas {
    background: rgb(125,125,255);
    background: linear-gradient(90deg, rgba(125,125,255,1) 37%, rgba(143,235,254,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.ibox:hover .far {
    background: rgb(125,125,255);
    background: linear-gradient(90deg, rgba(125,125,255,1) 37%, rgba(143,235,254,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* My awards */
.awards {
    background-color: white;
    height: 100vh;
}

#awards-head {
    margin-top: 150px;
    text-align: center;
    padding: 25px;
    margin-bottom: 50px;
}

#awards-head h1 {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 40px;
}

#awards-head p {
    color: var(--gray);
    font-size: 18px;
}

#awards-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    column-gap: 50px;
}

.abox {
    text-align: center;
}

.abox img {
    height: 350px;
    width: 350px;
    border-radius: 5px;
}

.abox h2 {
    margin: 10px 0 10px 0;
}

.abox p {
    color: var(--gray);
    text-transform: capitalize;
}


/* footer */
footer {
    background-color: black;
    height: 30vh;
    display: flex;
    align-content: center;
}

footer h1 {
    font-size: 25px;
}

#footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-about-me {
    color: var(--white);
    width: 60%;
}

#footer-about-me h1 {
    margin-bottom: 20px;
}

#footer-about-me p {
    color: var(--gray);
}

.follow-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.follow-me p {
    color: var(--gray);
    margin: 20px 0 20px 0;
}

.media {
    display: flex;
}

.media a {
    margin-right: 20px;
}

.media a i {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: all;
}

.media a i:hover{
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        color: white;
    }
    to {
        background: rgb(125,125,255);
        background: linear-gradient(90deg, rgba(125,125,255,1) 37%, rgba(143,235,254,1) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}